<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
    <header>
        <div class="header-inner">
            <div class="flex-item-5" id="app-name">
                <h1>Тут есть текст</h1>
            </div>
                {% if current_user.is_authenticated %}
					<div class="flex-item-3"><button onclick="location.href='/main';" class="inline btn header-btn" id="go-to-main-btn">Главная страница</button></div>
					<div class="flex-item-3"><button onclick="location.href='/logout';" class="inline btn header-btn" id="logout-btn">Выйти из профиля</button></div>
				{% endif %}
                {% if not current_user.is_authenticated %}
                    <div class="flex-item-3"><button onclick="location.href='/login';" class="inline btn header-btn" id="go-to-login-btn">Логин</button></div>
                    <div class="flex-item-3"><button onclick="location.href='/register';" class="inline btn header-btn" id="go-to-register-btn">Регистрация</button></div>
                {% endif %}
            </div>
        </div>
    </header>
    {% block content %}{% endblock %}
</body>
{% block scripts %} {% endblock %}
</html>